body {
    background-color: #141b23;
    background-image: url(Bitmap.png);
    background-repeat: no-repeat;
    background-position: right top;
    font-family: 'Franklin Gothic';
}
@font-face {
    font-family: 'Franklin Gothic';
    src: url(FRABK.ttf);
}
.menu {
    opacity: 0.87;
    color: #b1bbcb;
    font-size: 15px;
    margin-top: 65px;
    margin-left: 15px;
    text-decoration: none;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
}
.menu.active {
    opacity: 0.87;
    color: #b1bbcb;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    margin-top: 65px;
    margin-left: 55px;
}
.title {
    height: 18px;
    color: #ffffff;
    font-size: 25px;
    margin-top: 71px;
    margin-left: 96px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
}
.text {
    width: 467px;
    height: 230px; 
    color: #ffffff;
    font-size: 13px;
    margin-left: 95px;
    line-height: 15.6px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65); 
    
}
.footer {
    opacity: 0.27;
    color: #ffffff;
    font-size: 12px;
    margin-left: 54px;
    margin-top: 198px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
}